---
project:
  tt-tr1:
   repository: 'git://github.com/TapTinder/tt-tr1.git'
  tt-tr2:
   repository: 'git://github.com/TapTinder/tt-tr2.git'
  tt-tr3:
   repository: 'git://github.com/TapTinder/tt-tr3.git'
