[% DEFAULT title = 'TapTinder Web API v1' -%]

<div class=nav>
  <a href="[% c.uri_for('/') %]">Home</a>.
</div>

<hr>

<ul>
[% FOREACH apii IN rest -%]
	<li><a href="[% c.uri_for( apii.value.uri ) -%]">[% apii.value.uri -%]</a> - [% apii.value.info -%]</li>
[% END -%]
</ul>
<hr>

<pre>
[% rest_html_dump(rest) %]
</pre>

[% INCLUDE 'inc/rest-ct.tt2' %]
